.breadcrumbs {
	padding: 1.5rem 0;
	@media (min-width: $md2) {
		padding: 2rem 0;
	}
	&.breadcrumbs_sm {
		.breadcrumbs__item {
		}
		.breadcrumbs__link {
			font-size: 0.65rem;
			@media (min-width: $md4) {
				font-size: 0.875rem;
			}
		}
	}
	// .breadcrumbs__container
	&__container {
	}
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		color: #8a8e92;

		@media (min-width: $md5) {
			gap: 0.25rem;
		}
	}
	// .breadcrumbs__item
	&__item {
		display: inline-flex;
		align-items: center;

		@media (min-width: $md5) {
			gap: 0.25rem;
		}

		&:not(:first-child) {
			&::before {
				font-size: 0.65rem;
				@media (min-width: $md5) {
					font-size: 0.75rem;
				}
				height: 1rem;
				width: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				@extend %ic, .icon-chevron;
				flex-shrink: 0;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			font-size: 0.875rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}

		&.active {
			pointer-events: none;
			color: #fff;
		}
	}
}
