.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 1.25rem;
}

.fancybox__backdrop {
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	width: 100%;
	padding: 0;
	background: none;
	max-width: 29.125rem;
	// .popup__body
	&__body {
		border-radius: 1.25rem;
		border: 1px solid #444;
		color: #fff;
		width: 100%;
		padding: 2.06rem rem(18) 2.25rem;
		@media (min-width: $md5) {
			padding: 2.06rem rem(76) 2.25rem;
		}
		background: url('@img/modal.png') 0 0 / cover no-repeat, #060606;
		background-blend-mode: hard-light;
	}
	// .popup__close
	&__close {
		position: absolute;
		top: rem(16);
		right: rem(16);
		width: 1rem;
		height: 1rem;
		background: none;
		& img {
			width: 100%;
		}
	}
	// .popup__title
	&__title {
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
	}

	// .popup__form
	&__form {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 0.88rem;
	}
}
