// Использование модулей SASS
@use 'sass:math';
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import 'mixins';
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import 'fonts';

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: 'Inter';
$font-2: 'AGBengaly';

// Шрифт по умолчанию

$md1: 1439.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1330); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #1e1e1e;
$white: #fff;
$accent: #b41a24;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	color: $text;

	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*='__container'] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(20);
	@media (min-width: $md5) {
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(704);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: $maxWidthContainer;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы

@import 'ui';
@import 'forms';
//================Общий файл для элементов страницы
@import 'header';
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	display: flex;
}
// ========================================================

.main {
	background: url('@img/background.jpg') center 0 / cover no-repeat, #0e0d0f;
	min-height: 100vh;
	color: #fff;
	padding: 5rem 0 2rem;

	position: relative;
	overflow: hidden;
	flex: 1 1 auto;
	z-index: 2;
	display: flex;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 20vw;
		height: 20vw;
		background: url('@img/moon.png') -8vw -8vw / 20vw 20vw no-repeat;

		filter: blur(1px) drop-shadow(0px 0px 26.2px #f4e0cf);
	}
	margin-top: rem(7);
	@media (min-width: $md3) {
		margin-top: rem(-38);
	}
	// .main__container
	&__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		position: relative;
	}
	// .main__title
	&__title {
		text-align: center;
		font-family: $font-2;
		font-weight: 700;
		display: flex;
		flex-direction: column;
		letter-spacing: em(0.045, 2.25);
		line-height: 1.1;
		font-size: 1.5rem;
		@media (min-width: $md5) {
			font-size: 1.75rem;
		}
		@media (min-width: $md2) {
			font-size: 2.25rem;
		}
		& span {
			font-size: em(49, 24);
			@media (min-width: $md5) {
				font-size: em(90, 36);
			}
			text-transform: uppercase;
			letter-spacing: em(4.5, 90);
		}
	}
	// .main__body
	&__body {
		flex: 1 1 auto;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-width: $md3) {
			padding: 2rem 0 0;
		}
	}
	// .main__astro
	&__astro {
		flex: 1 1 auto;
		margin: 0 -5rem;
		@media (min-width: $md5) {
			width: 100%;
			margin: 0;
		}
		@media (min-width: $md3) {
			margin: -50px auto 0;
		}
	}
	// .main__astro-orbit
	&__astro-orbit {
		width: 100%;
		display: flex;
		justify-content: center;
		aspect-ratio: math.div(900, 502);
		max-width: rem(900);

		position: relative;
		margin: 0 auto;
		& svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-width: 100%;
		}
		& .circle-block {
			position: relative;
			.moon-image {
				opacity: 0.5;
				mix-blend-mode: multiply;
				filter: blur(rem(1));
			}
		}
		.astronaut-image {
			animation: levitate 5s ease-in-out infinite;
			@keyframes levitate {
				0% {
					transform: translateY(0);
				}
				50% {
					transform: translateY(rem(-30));
				}
				100% {
					transform: translateY(0);
				}
			}
		}
	}
	// .main__sidebar
	&__sidebar {
		border-radius: 0.9375rem;
		border: 1px solid #fff;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(rem(8));

		flex-shrink: 0;
		margin-top: 3.19rem;
		padding: rem(18) 0.25rem;
		@media (min-width: $md5) {
			padding: 1.56rem 0.25rem;
		}
		@media (min-width: $md3) {
			margin-top: 0;
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			right: rem(20);
			width: 15.5625rem;
		}
	}
	// .main__sidebar-title
	&__sidebar-title {
		text-align: center;
		font-family: $font-2;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.0625rem;
		}
	}
	// .main__sidebar-list
	&__sidebar-list {
		margin-top: 1.2rem;
		font-size: 0.75rem;
		font-weight: 400;
		padding: 0 0.75rem;
		& li {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			&::before {
				content: '';
				flex-shrink: 0;
				width: 0.5rem;
				height: 0.5rem;
				background: url('@img/star.svg') center / contain no-repeat;
			}
			&:not(:last-child) {
				margin-bottom: 0.56rem;
				@media (min-width: $md5) {
					margin-bottom: 0.63rem;
				}
			}
		}
	}
	// .main__sidebar-tagline
	&__sidebar-tagline {
		margin-top: 1rem;
		text-align: center;
		color: #6788ff;
		text-align: center;
		font-family: $font-2;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
	}
	// .main__footer
	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap-reverse;
		gap: rem(33);
		row-gap: 1.08rem;
	}
	// .main__btn
	&__btn {
	}

	&__light {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.7;
		filter: blur(1px);
		mix-blend-mode: screen;
		pointer-events: none;
	}
}
